
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    overflow: hidden; 
}











section {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #111;
    z-index: 1; 
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row {
    display: flex;
    margin-top: -16px;
    width: 100%;
    justify-content: center;
}

.row:nth-child(even) {
    margin-left: 0;
    transform: translateX(25px);
}

.hexagon {
    position: relative;
    width: 50px;
    height: 55px;
    background: #111;
    margin: 0.5px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: 2s;
    flex-shrink: 0;
}

.hexagon:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background: rgba(255,255,255,0.02);
}

.hexagon:hover {
    transition: 0s;
    background: #ff0000; 
    filter: drop-shadow(0 0 5px rgba(255, 0, 0, 0.7))
            drop-shadow(0 0 10px rgba(255, 0, 0, 0.5))
            drop-shadow(0 0 15px rgba(255, 0, 0, 0.3)); 
    
}





section .signin {
    position: relative; 
    z-index: 1000; 
}







section .signin {
    position: absolute; 
    top: 50%;          
    left: 50%;         
    transform: translate(-50%, -50%); 
    width: 420px; 
    background: #222;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px; 
    border-radius: 8px; 
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);
}

section .signin .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px; 
}

section .signin .content h2 {
    font-size: 2em;
    color: #ff0000;
    text-transform: uppercase;
    margin-top: 15px; 
    margin-bottom: 25px; 
    text-align: center;
}

section .signin .content .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

section .signin .content .form .inputBox {
    position: relative;
    width: 100%;
}

section .signin .content .form .inputBox input[type="text"],
section .signin .content .form .inputBox input[type="password"] {
    position: relative;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}

section .signin .content .form .inputBox i {
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: #aaa;
    transition: 0.5s;
    pointer-events: none;
}

.signin .content .form .inputBox input:focus~i,
.signin .content .form .inputBox input:valid~i {
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: #fff;
}

.signin .content .form .links {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.signin .content .form .links a {
    color: #fff;
    text-decoration: none;
}

.signin .content .form .links a:nth-child(2) {
    color: #ff0000;
    font-weight: 600;
}

.signin .content .form .inputBox input[type="submit"] {
    padding: 10px;
    background: #ff0000;
    color: #000;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
}

input[type="submit"]:active {
    opacity: 0.6;
}


.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #fff; 
    z-index: 1001; 
    width: 100%; 
}

.alert .close {
    padding: 0.5rem 1rem;
    margin: -0.75rem -1.25rem -0.75rem auto;
    background-color: transparent;
    border: none;
    width: auto;
    height: auto;
    box-shadow: none;
    font-size: 1.5rem;
    line-height: 1;
    float: right;
    color: #000;
    opacity: 0.7;
    text-shadow: none;
    position: relative;
    top: 0;
    right: 0;
}

.alert .close:hover {
    opacity: 1;
    color: #000;
}

.alert .close span {
    display: inline;
}


.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}