<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - Panthera Strike</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_hud_animation.css') }}">
</head>

<body>
    <section>
        <div class="signin">
            <div class="content">
                <div id="animacion-hud-wrapper">
                    <div id="anim2-container">
                        <div id="anim2-a1"><div id="anim2-a11"></div></div>
                        <div id="anim2-a2"><div id="anim2-a21"></div></div>
                        <div id="anim2-a3-placeholder">
                            </div>
                        <div id="anim2-a4">
                            </div>
                        <div id="anim2-a6">PANTHERA STRIKE</div>
                        <div id="anim2-a7"> <span class="anim2-a73 anim2-a731">00:</span><span class="anim2-a73 anim2-a732">00</span>
                            <span class="anim2-a74 anim2-a741">01/</span><span class="anim2-a74 anim2-a742">01/</span><span class="anim2-a74 anim2-a743">2025</span>
                        </div>
                        <div id="anim2-a8">
                            <div id="anim2-a81"></div>
                            </div>
                         <div id="anim2-a9">
                            </div>
                        <div id="anim2-a10">TARGET LOCK <span></span></div>

                        <div id="anim2-b1">
                            </div>
                        
                        <div id="anim2-figure">
                            <div id="anim2-f1"></div>
                            <div id="anim2-f2"></div>
                            <div id="anim2-f3">
                                <div id="anim2-f31">
                                    <span class="anim2-f311"><b></b></span>
                                    <span class="anim2-f312"><b></b></span>
                                </div>
                                <div id="anim2-f32">
                                    <span class="anim2-f321"></span>
                                    <span class="anim2-f322"></span>
                                </div>
                                <div id="anim2-f33"></div>
                                <div id="anim2-f34"></div>
                            </div>
                            <div id="anim2-f4">
                                <div id="anim2-f41"></div>
                                <div id="anim2-f42"></div>
                                <div id="anim2-f43" class="anim2-f431"></div>
                                <div id="anim2-f43" class="anim2-f432"></div>
                                <div id="anim2-f43" class="anim2-f433"></div>
                                <div id="anim2-f43" class="anim2-f434"></div>
                            </div>
                            <div id="anim2-f5"></div>
                            <div id="anim2-f6"></div>
                            <div id="anim2-f7">
                                <div id="anim2-f71"></div>
                                <div id="anim2-f72"></div>
                            </div>
                            <div id="anim2-f8">
                                <div id="anim2-f81"></div>
                                <div id="anim2-f82"></div>
                            </div>
                            <div id="anim2-f9"><span></span></div>
                            </div>
                         <div id="anim2-a5"> </div>
                    </div>
                </div>

                <h2>Iniciar Sesión</h2>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <form class="form" method="POST" action="{{ url_for('login') }}">
                    <div class="inputBox">
                        <input type="text" id="username" name="username" required>
                        <i>Usuario</i>
                    </div>
                    <div class="inputBox">
                        <input type="password" id="password" name="password" required>
                        <i>Contraseña</i>
                    </div>
                    <div class="links">
                        <a href="#">¿Olvidaste tu contraseña?</a>
                        <a href="#">Registrarse</a>
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Entrar">
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename='js/login_combined_animations.js') }}"></script>
</body>
</html>